<h1>Index site</h1><br>
<br>
<% @book.each do |book| %>
  <div class="imagedropshadow" %>
    <%= link_to book.booktitle, book_path(book) %><br>
    <%= book.bookdescription %><br><br>
    <%= render 'books/editdelete' %>
  </div>
<% end %>